.body { 
} 
table.box {
	border-width: 1px;
	border-spacing: ;
	border-style: solid;
	border-color: gray;
	border-collapse: separate;
	background-color: white;
}
.navbg{ 
background-image: url(../images/web_images/webbg1_03b.gif); 
background-repeat: no-repeat; 
background-position: bottom right; 
}
.bottombg{ 
background-image: url(../images/web_images/webbg1_10.gif); 
background-repeat: no-repeat; 
background-position: bottom center; 
}
.maingray{ 
background-image: url(../images/web_images/maingraybg.jpg); 
background-repeat: no-repeat; 
background-position: center; 
}
.credits{ 
background-image: url(../images/web_images/credits.jpg); 
background-repeat: no-repeat; 
background-position: top left; 
}
.straleybg{ 
background-image: url(../images/web_images/straley_07.gif); 
background-repeat: no-repeat; 
background-position: top left; 
}
.straleybottom{ 
background-image: url(../images/web_images/bottom02.jpg); 
background-repeat: repeat-x; 
background-position: top center; 
}
img.floatleft { 
    float: left; 
    margin: 5px; 
}
img.floatright { 
    float: right; 
    margin: 5px; 
}
.h1{
	font-family: "verdana";
	font-size: 0.8em;
	font-style: normal;
	color: #000000;
}
.h2{
	font-family: "verdana";
	font-size: 0.7em;
	font-style: normal;
	color: #606060;
}
.h3{
	font-family: "verdana";
	font-size: 12pt;
	font-style: normal;
	color: #000000;
}
.h4{
	font-family: "georgia";
	font-size: 11pt;
	font-style: normal;
	color: #333333;
}

.it{font-style:italic;}

.title{
	font-family: "Book Antiqua";
	font-size: 22;
	font-style: normal;
	color: #000000;
}
.title2{
	font-family: "Book Antiqua";
	font-size: 18;
	font-style: normal;
	color: #000000;
}
.copy{
	font-family: "verdana";
	font-size: 8pt;
	font-style: normal;
	color: #999999;
}
a:link {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #333333;
	text-decoration: underline;
}

a.newsletter:link {
	font-family: "Times New Roman";
	font-size: 1em;
	font-style: normal;
	color: #333333;
	text-decoration: underline;
}

a.newsletter2:link {
	font-family: "Times New Roman";
	font-size: 1.2em;
	font-style: normal;
	color: #333333;
	text-decoration: underline;
}

a:visited {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #666666;
	text-decoration: underline;

}
a:hover{
	font-family: "verdana";
	font-size: 1em;
	font-style:000000;
	color: #999999;
	text-decoration: underline;
}
a.nav:link {
	font-family: "verdana";
	font-size: 8pt;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}

a.nav:visited {
	font-family: "verdana";
	font-size: 8pt;
	font-style: normal;
	color: #444444;
	text-decoration: none;

}
a.nav:hover{
	font-family: "verdana";
	font-size: 8pt;
	font-style:000000;
	color: #444444;
	text-decoration: none;
}
a.copy:link {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #999999;
	text-decoration: none;
}
a.copy:visited {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #999999;
	text-decoration: none;

}
a.copy:hover{
	font-family: "verdana";
	font-size: 1em;
	font-style:000000;
	color: #666666;
	text-decoration: none;
}
a.copy2:link {
	font-family: "verdana";
	font-size: 7.5pt;
	font-style: normal;
	color: #999999;
	text-decoration: none;
}
a.copy2:visited {
	font-family: "verdana";
	font-size: 7.5pt;
	font-style: normal;
	color: #999999;
	text-decoration: none;

}
a.copy2:hover{
	font-family: "verdana";
	font-size: 7.5pt;
	font-style:000000;
	color: #666666;
	text-decoration: none;
}
a.copy3:link {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #333333;
	text-decoration: none;
}
a.copy3:visited {
	font-family: "verdana";
	font-size: 1em;
	font-style: normal;
	color: #343434;
	text-decoration: none;

}
a.copy3:hover{
	font-family: "verdana";
	font-size: 1em;
	font-style:normal;
	color: #666666;
	text-decoration: none;
}