html,body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    flex-flow: column;
}

/* change the link color */
.navbar-dark .navbar-nav .nav-link {
    color:  #ffffff;
    background-color: inherit;
}

.red-background {
    background: #CC2229;
    color: #ffffff;
}

.title-box {
    border-bottom: black solid 2px;
    border-top: black solid 2px;
    margin-bottom: 16px;
    padding: 0;
}

#title-divider{
    height: 1px;
    width: 100%;
    border-bottom:solid 2px #000000;
}

#column-divider{
    height: 1px;
    width: 100%;
    border-bottom:solid 2px #000000;
    margin-bottom: 16px;
}