/*
    CSS for index.php
*/

h1{
    background: #3e3e3f;
    color:  #ffffff;
    padding: 15px;
    margin-bottom:0px;
}

h2{
    background: #3e3e3f;
    color:  #ffffff;
    margin: 0px;
    font-size: 1.7em;
}


/*
    Styles for the databaseCard objects.
 */

/* Makes sure all the cards are expanded to full width */
#main a {
    width: 100%;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

a:hover figcaption {
    background: #000000;
}

.img-sized {
    max-height: 105px;
    max-width: 100px;
}

figcaption {
    background: #3e3e3f;
    color: #ffffff;
    padding: 4px;
}

figure img {
    margin: 12px;
}

