/*
  CSS styles for search.php
 */

/**
  original CSS
 */

#submit {
    padding-left: 15px;
    padding-right:5px;
  }
  #sample-img img, #sample {
    display: block;
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  #fish-sample {
    height: 250px;
    width: 220px;
    padding-right: 5px;
  }
  #catalogNumber {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
  }
  #taxon {
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
  }
  #jumbotron {
    margin: 0px 15px;
    padding: 15px 0px;
    margin-bottom: 15px;
  }
  #viewDiv {    
    height: 200px; 
    width: 100%;
  }

  #legend #entoSite {
    padding: 0px;
  }

  #legend .row, #jumbotron {
    padding: 0px 15px;
  }

  /*style="display:inline; font-size: 0.5em; float:right; color:#ffffff; padding-top:6px*/
  #icon {
    font-size: 0.5em;
    float:right; 
    color:#ffffff; 
    padding-top:6px;
  }

  #entoSite div a:hover {
    text-decoration: none;
  }

  
