/*
  CSS styles for search.php

 All original CSS from David was removed as it wasn't necessary and we are using bootstrap classes.

 */


/* responsive column setup, different column depending on width
    kudos to https://stackoverflow.com/questions/24197007/how-can-i-show-three-columns-per-row for help
*/
.responsive-columns {
    width: 100%;
}

@media only screen and (min-width: 768px) {
    .responsive-columns {
        width: 50%;
    }
}
@media only screen and (min-width: 992px) {
    .responsive-columns {
        width: 33%;
    }
}

a[role='button'] {
    text-decoration: none;
}
