body {
    background: #ffffff;
}

h2 {
    font-size: 1.7em;
}
.btn-beaty {
    color: #fff;
    background-color: #CC232A;
    border-color: #CC232A;
}
#someid {
    height: 105px;
    width: 100px;
}

figure {
    text-align: center;
}

#herbarium-title, #vertebrate-title, #invertebrate-title, #bone-title {
    text-align: center;
}

figcaption {
    background: #3e3e3f;
    color: #ffffff;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}

#main a {
    width: 100%;
}

a:hover figcaption {
    background: #000000;
}

.herbarium-databases figure {
    background: #3c8a2e;
    margin-bottom: 15px;
}

.tetrapod-databases figure {
    background: #70382d;
    margin-bottom: 15px;
}

.fish-databases figure {
    background: #165788;
    margin-bottom: 15px;
}

.entomology-databases figure {
    background: #824bb0;
    margin-bottom: 15px;
}

.marine-databases figure {
    background: #ffb652;
    margin-bottom: 15px;
}

.bone-databases figure {
    background: #bd3632;
    margin-bottom: 15px;
}

figcaption {
    padding: 2px;
}

figure img {
    margin: 8px;
}

h1{
    background: #3e3e3f;
    color:  #ffffff;
    padding: 15px;
    margin-bottom:0px;
}

h2{
    background: #3e3e3f;
    color:  #ffffff;
    margin: 0px;
}

#column1, #column2, #column3{
    margin-right: 0px
}

.column-body {
    margin-right: 15px;
    margin-left: 15px;
}

.column-body-right {
    margin-right: 0px;
}

.column-body-left {
    margin-left: 0px;
}