#submit {
    padding-left: 15px;
    padding-right:5px;
  }
  #sample-img img, #sample {
    display: block;
    max-height: 200px;
    max-width: 100%;
    height: auto;
    width: auto;
  }
  #fish-sample {
    height: 250px;
    width: 220px;
    padding-right: 5px;
  }
  #catalogNumber {
    margin-left: 15px;
    margin-right: 15px;
    font-weight: bold;
    color: black;
  }
  #taxon {
    margin-left: 15px;
    margin-right: 15px;
    font-style: italic;
  }
  #jumbotron {
    padding: 15px 0px;
    margin-bottom: 15px;
  }
  #viewDiv {    
    height: 200px; 
    width: 100%;
  }

  #legend {
    margin: 15px 0px;
  }

  #entoSite {
    margin-top: 15px;
  }

  .panel .panel-heading a, .panel .panel-heading a:hover{
    color: black;
    background-color: brown;
    text-decoration: none;
    white-space: nowrap;
  }

  .active, .panel .panel-heading a:hover {
    background-color: #666666;
  }

  #plusicon {
    color: brown;
    vertical-align: 75%;
  }

  
