<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name=".htm, .html, .php" value="text/html; charset=utf-8" />
            </customHeaders>
        </httpProtocol>
    </system.webServer>
</configuration>
